<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Crazy Dog</title>
</head>
<body>
    <img src="/img/pieces/piece1blue.png" class="field" id="field1" alt="Field 1" onclick="main(this.id, this.src)">
    <img src="/img/pieces/empty.png" class="field" id="field2" alt="Field 2" onclick="main(this.id, this.src)">
    <img src="/img/pieces/empty.png" class="field" id="field3" alt="Field 3" onclick="main(this.id, this.src)">
    <img src="/img/pieces/empty.png" class="field" id="field4" alt="Field 4" onclick="main(this.id, this.src)">
    <script src="/js/jquery-3.4.1.min.js" th:href="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="/js/clicklistener.js" th:href="@{/js/clicklistener.js}"></script>
    <script src="/js/frontendupdater.js" th:href="@{/js/frontendupdater.js}"></script>
</body>
</html>