<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css" />
        <!--<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css" />-->

        <title>Crazy Dog</title>
    </head>
    <body>
        <header>
            <h2>HOME</h2>
            <h2>Abmelden</h2>
        </header>
        <span id="sessionId" style="display: none;" th:text="${sessionId}"></span>
        <div class="playarea">
            <div class="container-top">
                <div class="container-left">
                    <h3><span id="roundNumber" th:text="'Round '+${roundNr}"></span></h3>
                    <div>
                        <h3>Team 1</h3>
                        <ul class="list-group">
                            <!--show all Players from Team1 -->
                            <li class="list-group-item"
                                th:each="player : ${team1}" th:id="'Player'+${player.getId()}"
                                th:class="${currentPlayerID == player.getId()} ? 'currentplayer list-group-item' : 'list-group-item'"
                                th:classappend="${player.getColor()}">


                                <img class="playerimage" th:src=" '/img/players/player' + ${player.getId()} + '.png'"
                                     th:alt="${player.getUsername()}">
                                <span class="playername" th:text="${player.getUsername()}"></span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Team 2</h3>
                        <ul class="list-group">
                            <!--show all Players from Team2 -->
                            <li th:each="player : ${team2}" th:id="'Player'+${player.getId()}"
                                th:class="${currentPlayerID == player.getId()} ? 'currentplayer list-group-item' : 'list-group-item'"
                                th:classappend="${player.getColor()}">
                                <img class="playerimage" th:src=" '/img/players/player' + ${player.getId()} + '.png'"
                                     th:alt="${player.getUsername()}">
                                <span class="playername" th:text="${player.getUsername()}"></span>
                            </li>
                        </ul>
                        <div id="gamemessage"></div>
                    </div>
                </div>
                <div class="container-center">
                    <span id="board"></span>
                    <span id="boardhole"></span>
                    <img class="grid" src="/img/crazydog_grid.png" alt="Crazy Dog Grid" width="850px">
                    <!--show all fields -->
                    <div id="gameboard">
                        <img th:each="field : ${fields}" 
                             th:src="${field.getPieceOnField() != null} ? ${'/img/pieces/'+field.getPieceOnField().getPictureName()} : '/img/pieces/empty.png'" 
                             class="field" th:id="${field.getCssId()}" th:alt="${field.getCssId()}" onclick="getPossibleDestinationFieldsOrMakeMove(this.id)">
                    </div>
                    <img th:src="${gameDirection.equals('clockwise')} ? '/img/clockwise.png' : '/img/counterclockwise.png'" class="direction" id="direction">
                </div>
                <div class="container-right" id="instructionList">
                    <!-- show the instructions on the right side of the page -->
                    <div th:each="instruction : ${ userInstructions }"
                         th:class="${userInstructions.indexOf(instruction) == 0} ? 'card-title card-header firstinstruction' : 'card-header instructions'"
                         th:text="${'&#62; '+instruction}"
                         th:style="${(userInstructions.indexOf(instruction)%2) == 0} ? 'background-color: #f1f3f4' : 'background-color: #fcf8e8'"></div>
                </div>
            </div>
        </div>
        <div class="container-bottom">
            <div class="select-buttons" id="buttonBlock">
                <p id="countdown" style="margin-right: 30px"></p>
                <form th:action="@{exchangeCard}">
                    <input type="hidden" th:name="sessionId" th:value="${sessionId}">
                    <input type="hidden" th:name="selectedCardId" value=""/>
                    <button class="btn btn-primary" type="submit" id="exchange-button">Karte tauschen</button>
                </form>
            </div>
            <div class="hand" id="handBlock">
                <div th:each="coh : ${ playerandhand }">
                    <img th:src="'/img/cards/karte_' + ${ coh.getValue() } + '.png'" class="playingcard"
                         th:id=" ${ coh.getId() }" th:alt="'Karte ' + ${ coh.getValue() }"
                         th:onclick="|main(${ coh.getValue() }, ${ coh.getId() })|">
                </div>
            </div>
        </div>

        <!-- The Winning Dialog -->
        <div id="winningDialog" style="display:none" class="dialog">
            <!-- Dialog content -->
            <div class="dialog-content">
                <h2>Spiel beendet</h2>
                <p id="winner"></p>
                <input type="button" id="close-dialog" class="btn btn-light" value="zurück zur Startseite">
            </div>
        </div>

        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/frontendupdater.js}"></script>
        <script th:src="@{/js/winnerdialog.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <script src="/js/clicklistener.js" th:href="@{/js/clicklistener.js}"></script>
        <div th:insert="modals.html">
        </div>
    </body>
</html>

