<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css" />

    <script src="/js/jquery-3.4.1.min.js" th:href="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="/js/main.js" th:href="@{/js/main.js}"></script>

    <title>Crazy Dog</title>
</head>
<body>
    <span id="empty"></span>
    <span id="board"></span>
    <span id="boardhole"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 23rem; margin-top: 250px; margin-left: 20px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #E41B13;">
                            <img src="/img/players/player1.png" class="playerimage" alt="Heidi">
                            <span class="playername">Heidi</span>
                        </li>
                        <li class="list-group-item" style="background-color: #D5BC00;">
                            <img src="/img/players/player2.png" class="playerimage" alt="Johannes">
                            <span class="playername">Johannes</span>
                        </li>
                        <li class="list-group-item" style="background-color: #0E8A12;">
                            <img src="/img/players/player3.png" class="playerimage" alt="Isabella">
                            <span class="playername">Isabella</span>
                        </li>
                        <li class="list-group-item" style="background-color: #0086B3;">
                            <img src="/img/players/player4.png" class="playerimage" alt="Peter">
                            <span class="playername">Peter</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-auto">
                <!-- Die "normalen" Felder und Wurmlöcher -->
                <img class="grid" src="/img/crazydog_grid.png" alt="Crazy Dog Grid" width="850px">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field1" alt="Field 1">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field2" alt="Field 2">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field3" alt="Field 3">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field4" alt="Field 4">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field5" alt="Field 5">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field6" alt="Field 6">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field7" alt="Field 7">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field8" alt="Field 8">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field9" alt="Field 9">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field10" alt="Field 10">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field11" alt="Field 11">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field12" alt="Field 12">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field13" alt="Field 13">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field14" alt="Field 14">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field15" alt="Field 15">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field16" alt="Field 16">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field17" alt="Field 17">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field18" alt="Field 18">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field19" alt="Field 19">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field20" alt="Field 20">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field21" alt="Field 21">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field22" alt="Field 22">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field23" alt="Field 23">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field24" alt="Field 24">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field25" alt="Field 25">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field26" alt="Field 26">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field27" alt="Field 27">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field28" alt="Field 28">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field29" alt="Field 29">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field30" alt="Field 30">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field31" alt="Field 31">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field32" alt="Field 32">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field33" alt="Field 33">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field34" alt="Field 34">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field35" alt="Field 35">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field36" alt="Field 36">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field37" alt="Field 37">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field38" alt="Field 38">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field39" alt="Field 39">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field40" alt="Field 40">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field41" alt="Field 41">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field42" alt="Field 42">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field43" alt="Field 43">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field44" alt="Field 44">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field45" alt="Field 45">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field46" alt="Field 46">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field47" alt="Field 47">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field48" alt="Field 48">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field49" alt="Field 49">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field50" alt="Field 50">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field51" alt="Field 51">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field52" alt="Field 52">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field53" alt="Field 53">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field54" alt="Field 54">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field55" alt="Field 55">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field56" alt="Field 56">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field57" alt="Field 57">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field58" alt="Field 58">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field59" alt="Field 59">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field60" alt="Field 60">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field61" alt="Field 61">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field62" alt="Field 62">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field63" alt="Field 63">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field64" alt="Field 64">

                <!-- Die Heimfelder -->
                <!-- Heimfeld von Rot -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece4red.png}" class="field" id="field65" alt="Field 65">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece3red.png}" class="field" id="field66" alt="Field 66">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece2red.png}" class="field" id="field67" alt="Field 67">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece1red.png}" class="field" id="field68" alt="Field 68">
                <!-- Heimfeld von Gelb -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece4yellow.png}" class="field" id="field69" alt="Field 69">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece3yellow.png}" class="field" id="field70" alt="Field 70">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece2yellow.png}" class="field" id="field71" alt="Field 71">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece1yellow.png}" class="field" id="field72" alt="Field 72">
                <!-- Heimfeld von Grün -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece4green.png}" class="field" id="field73" alt="Field 73">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece3green.png}" class="field" id="field74" alt="Field 74">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece2green.png}" class="field" id="field75" alt="Field 75">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece1green.png}" class="field" id="field76" alt="Field 76">
                <!-- Heimfeld von Blau -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece4blue.png}" class="field" id="field77" alt="Field 77">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece3blue.png}" class="field" id="field78" alt="Field 78">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece2blue.png}" class="field" id="field79" alt="Field 79">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/piece1blue.png}" class="field" id="field80" alt="Field 80">

                <!-- Die Ziel-Felder -->
                <!-- Ziel-Feld von Grün -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field81" alt="Field 81">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field82" alt="Field 82">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field83" alt="Field 83">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field84" alt="Field 84">
                <!-- Ziel-Feld von Blau -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field85" alt="Field 85">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field86" alt="Field 86">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field87" alt="Field 87">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field88" alt="Field 88">
                <!-- Ziel-Feld von Rot -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field89" alt="Field 89">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field90" alt="Field 90">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field91" alt="Field 91">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field92" alt="Field 92">
                <!-- Ziel-Feld von Gelb -->
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field93" alt="Field 93">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field94" alt="Field 94">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field95" alt="Field 95">
                <img src="/img/pieces/empty.png" th:src="@{/img/pieces/empty.png}" class="field" id="field96" alt="Field 96">
            </div>
            <div class="col">
                <div class="card bg-dark mb-3" style="width: 23rem; margin-top: 250px; margin-right: 20px; float: right;">
                    <div class="card-header" style="background-color:#fcf8e8">
                        <h5 class="card-title">> Warte, bis Isabella eine Karte gespielt hat...</h5>
                    </div>
                    <div class="card-header" style="background-color: #f1f3f4">> Isabella ist am Zug.</div>
                    <div class="card-header" style="background-color: #fcf8e8">> Johannes hat Figur 4 um 9 Felder bewegt.</div>
                    <div class="card-header" style="background-color: #f1f3f4">> Warte bis Johannes seine Spielfigur bewegt hat...</div>
                    <div class="card-header" style="background-color: #fcf8e8">> Johannes hat die 9 ausgespielt.</div>
                    <div class="card-header" style="background-color: #f1f3f4">> Warte bis Johannes eine Karte gespielt hat...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="card2hover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_2.png" class="playingcard" id="card2" alt="Karte 2">
            </div>
            <div class="col-md-2" id="card10hover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_10.png" class="playingcard" id="card10" alt="Karte 10">
            </div>
            <div class="col-md-2" id="cardchangehover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_tausch.png" class="playingcard" id="cardchange" alt="Tausch-Karte">
            </div>
            <div class="col-md-2" id="cardjokerhover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_fragezeichen.png" class="playingcard" id="cardjoker" alt="Fragezeichen">
            </div>
            <div class="col-md-2" id="card6hover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_6.png" class="playingcard" id="card6" alt="Karte 6">
            </div>
            <div class="col-md-2" id="card11hover"><!--Die id ist da, damit das Hoover funktioniert. -->
                <img src="/img/cards/karte_11.png" class="playingcard" id="card11" alt="Karte 11">
            </div>
        </div>
    </div>
</body>
</html>