<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css" />
</head>
<body>
<h1>Login</h1>
    <form action="#" th:action="@{/login}" th:object="${player}" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" th:field="*{username}" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" th:field="*{password}" required>
        <button type="submit">Login</button>
        <!--<h2 th:text="${error}"></h2>-->
</form>
</body>
</html>