<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div class="modal" tabindex="-1" role="dialog" id="card3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aktion Karte 3</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Wähle eine Aktion</p>
            </div>
            <div class="modal-footer">
                <button id="card3ChangeDirection" type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" onclick="changeDirection()">Spielrichtung ändern</button>
                <button id="card3Go3" type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" onclick="getPossibleSourceFields(3, 33)">3 Felder fahren</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="questionmark">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aktion Karte Questionmark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Wähle die Karte die du spielen möchtest</p>
                <div class="row">
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_2.png"
                             id="modalFragezeichenKarte2" alt="Karte 2"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_3.png"
                             id="modalFragezeichenKarte3" alt="Karte 3"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_4.png"
                             id="modalFragezeichenKarte4" alt="Karte 4"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_5.png"
                             id="modalFragezeichenKarte5" alt="Karte 5"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_6.png"
                             id="modalFragezeichenKarte6" alt="Karte 6"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_7.png"
                             id="modalFragezeichenKarte7" alt="Karte 7"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_8.png"
                             id="modalFragezeichenKarte8" alt="Karte 8"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_9.png"
                             id="modalFragezeichenKarte9" alt="Karte 9"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_10.png"
                             id="modalFragezeichenKarte10" alt="Karte 10"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_11.png"
                             id="modalFragezeichenKarte11" alt="Karte 11"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_12.png"
                             id="modalFragezeichenKarte12" alt="Karte 12"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_13.png"
                             id="modalFragezeichenKarte13" alt="Karte 13"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                    <div class="col-3 mt-2">
                        <img src="/img/cards/karte_15.png"
                             id="modalFragezeichenKarte15" alt="Karte 15"
                             data-dismiss="modal"
                             class="w-100"
                             onclick="chooseCard(this)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>